body {
    background-color: #1a1a1a;
    height: 100%;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}

.container {
    padding: 30px;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

a {
    color: #b00931;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}